name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-package-plugin:
    name: Test Package Plugin
    runs-on: macos-15
    strategy:
      fail-fast: false
      matrix:
        xcode:
        - '16.0' # Swift 6.0
        - '16.4' # Swift 6.1
        - '26.0.1' # Swift 6.2
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Test Package Plugin
        run: bundle exec rake lint:swift

  unit-tests:
    name: Unit Tests
    runs-on: macos-15
    strategy:
      fail-fast: false
      matrix:
        xcode:
        - '26.0.1' # Swift 6.2
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with:
          xcode: ${{ matrix.xcode }}
      - name: Run Unit Tests
        run: swift test

  lint-markdown:
    name: Lint Markdown
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - uses: actions/setup-node@v4
      - name: Lint README.md
        run: bundle exec rake lint:markdown

  site-build:
    name: Build Site
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Build site
        run: bundle exec rake site:build
        env:
          JEKYLL_ENV: production
