name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-package-plugin:
    name: Test Package Plugin
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
      - name: Test Package Plugin
        run: swift package --allow-writing-to-package-directory airbnb-format-swift --lint
