name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-package-plugin-macos-12:
    name: Test Package Plugin
    runs-on: macos-12
    strategy:
      fail-fast: false
      matrix:
        xcode:
        - '13.4.1' # Swift 5.6
    steps:
      - uses: actions/checkout@v2
      - name: Test Package Plugin
        run: swift package --allow-writing-to-package-directory format --lint

  test-package-plugin-macos-13:
    name: Test Package Plugin
    runs-on: macos-13
    strategy:
      fail-fast: false
      matrix:
        xcode:
        - '14.2' # Swift 5.7
        - '14.3' # Swift 5.8
    steps:
      - uses: actions/checkout@v2
      - name: Test Package Plugin
        run: swift package --allow-writing-to-package-directory format --lint
